{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/pokeball.jpg' %}" />
    <title>Pokemon-Card Collector</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/base.css' %}">
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img 
            src="{% static 'images/george.png' %}" 
            width='100'
            height='50'
            alt="The Pokemon Card Collector Logo" 
          />
        </a>
      </div>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'cards_index' %}">Cards</a></li>
            <li><a href="{% url 'cards_create' %}">Add a Card</a></li>
            <li><a href="{% url 'dropoff_create' %}">DropOff</a></li>
            <li><a href="{% url 'dropoff_index' %}">DropOff List</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>{% block content%} {% endblock %}</main>
  </body>
</html>
