{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css"
  href="{% static 'css/cards/card-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class='page-header'>
  <h1>Pokemon Card List</h1>
</section>

<section class='card-container'>
  {% for card in cards %}
    <div class='card'>
      <a href="{% url 'cards_detail' card.id %}"></a>
      <div class='card-content'>
        <div class='card-img-container'>
          <img src="{% static 'images/pikachu.jpeg' %}"alt="pikachu">
        </div>
        <h2 class='card-title'>{{ card.name }}</h2>
        <h3>{{ card.type }}</h3>
        <h3>{{ card.value }}</h3>
        <p><small>{{ card.pack }}</small></p>
      </div>
    </div>
    {% endfor %}
</section>
{% endblock %}



{% comment %} src="{% static 'images/'|add:card.name|add:'.jpeg' %}"  {% endcomment %}